version = 0.21.0
profile = default
margin = 90
indicate-multiline-delimiters=no
doc-comments=before
parse-docstrings = false
wrap-comments = true
break-infix=fit-or-vertical
type-decl=sparse
module-item-spacing=sparse